.textColor{
  color:#aaa;
}
.textColor2{
  color:#999;
}
.textColor3{
  color:#bbb;
}
.textColor4{
  color: #777;
}
.textColor5{
  color:#dedede;
}
.textColor6{
  color:#111;
}
.background{
  background:#090909;
}
.background1{
  background: #111;
}
.background2{
	background:rgba(44,44,44,1);
}
.background3{
	background:#222;
}
.background4{
  background: #1C1C1C;
}
.background5{
  background: #579;
}
.border1{
  border:1rpx solid #444;
}
.border2{
  border:1rpx solid #333;
}
.border3{
  border:1rpx solid #222;
}
.border4{
  border:1rpx solid #1C1C1C;
}
.border5{
  border:1rpx solid #579;
}
.borderLeft{
  display: block;
  height:100%;
  width:0px;
  border-left:1px solid #234;
}
.borderLeft2{
  display: block;
  height:100%;
  width:0px;
  border-left:1px solid #234;
}
.borderBottom{
  border-bottom: 1rpx solid #222;
}
.borderTop{
  border-top: 1rpx solid #222;
}
